<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADD Songs</title>
</head>
<body>
<form action="/addsong" method="post">
    <label for="name">Song Name :</label>
    <input type="text" name="name" id="Sname"><br><br>
    <label for="artist">Artist :</label>
    <input type="text" name="artist" id="artist"><br><br>
    <label for="genre">Song genre :</label>
    <input type="text" name="genre" id="Sgenre"><br><br>
    <label for="link">Song link :</label>
    <input type="text" name="link" id="Slink"><br><br>
    <input type="submit" value="ADD Songs">
   </form>
</body>
</html>