<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/updatepass"  method="post">
<input type="hidden" name="_method" value="put">
  <label for="Email ID">Email ID :</label>
            <input type="email" name="email" id="email"><br><br>
            <label for="Password">New Password :</label>
            <input type="password" name="pass" id="password"><br><br>
            <input type="submit" value="SET">
            </form>
</body>
</html>